<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #0077B6;">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <img src="assets/img/brand.png" alt="Logotipo" width="50" height="40" class="d-inline-block align-text-top">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Imóveis
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="alugar.html">Alugueis</a></li>
                <li><a class="dropdown-item" href="vendas.html">Vendas</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item disabled" href="#">Negociar</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contato.html" tabindex="-1" aria-disabled="true">Contato</a>
            </li>
          </ul>
          <hr class="divider-menu">
          <form class=" d-flex justify-content-between">
            <img class="miguel mt-auto mb-auto  "src="assets/img/miguel.webp"><span class="text-white navbar-text" style="margin-right: 0.5rem">Plantão de vendas</span>
            <a href="https://api.whatsapp.com/send?phone=5565984464856&text=Ol%C3%A1,%20Miguel!" class="btn btn-md btn-success" type="submit"><i class="material-icons" style="font-size:20px;vertical-align: middle;margin-right: 1rem;">whatsapp</i>Fala com Miguel</a>
          </form>
        </div>
      </div>
    </nav>
  </header>